*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}
.viewBook{
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  padding:5px 20px 5px 20px;
  color:white;
  font-size: 20px;
}
.card-text {
  display: -webkit-box; /* Enables multi-line truncation */
  -webkit-line-clamp: 2; /* Limit to 3 lines */
  -webkit-box-orient: vertical; /* Vertical box orientation */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ellipsis when text overflows */
  white-space: normal; /* Allow text to wrap */
}